<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%- meta %> <%- include('../includes/styles') %>
    <title>mirage freestyle</title>
  </head>
  <body>
    <%- include('../includes/navbar') %> <%- body %> <%-
    include('../includes/scripts') %>
  </body>
</html>
